<h3>{{model.title}}</h3>
<p>{{model.body}}</p>
<div>Posted {{moment-from-now model.createdAt}}</div>
<ul>
{{#each model.comments as |comment|}}
  <li>{{comment.body}} posted {{moment-from-now comment.createdAt}}</li>
{{/each}}
</ul>

 <p>Back to {{#link-to "posts.index"}}posts{{/link-to}}.</p>
